
<h1>--------My Directive :: HIDDEN</h1>        
<h2>Visible :</h2>	
<!--<h2 myHidden>Invisible Scenario 1 :</h2>-->
<h2 [myHidden]="val">Invisible Scenario 2 :</h2>
<!--<h2 [hidden]>Invisible 2 :</h2>  Wrong  
<h2 [Hidden]>Invisible 3 :</h2>  Wrong --> 
<h2 hidden>Invisible 4 :</h2>
<h2 Hidden>Invisible 5 :</h2>

<!--<h1>Hello from external file : {{name}}</h1>
<h2>Email : {{email}} </h2>
<h3> {{name | uppercase}}</h3>
<h3> {{name | lowercase}}</h3>
<h3> {{name | slice:'2':'4'}}</h3>-->
<!--<h3> {{name | replace:'ahmed':'MED'}}</h3>-->
<!--<h3>{{3.14}}</h3>
<h3>{{3.14 | number:'1.1-1'}}</h3>
<h3>{{3.14 | number:'1.1-2'}}</h3>
<h3>{{3.14 | number:'3.1-2'}}</h3>
<h3>{{3.14 | number:'3.4-5'}}</h3>
<h3>------set2</h3>
<h3>{{3.1415371372 | number:'3.4-4'}}</h3>
<h3>{{3.1415371372 | number:'3.4-5'}}</h3>
<h3>{{3.1415371372 | number:'3.4-6'}}</h3>
<h3>{{3.1415371372 | number:'3.4-7'}}</h3>
<h3>--------set3</h3>
<h3>{{3.1 | number:'3.1-4'}}</h3>
<h3>{{3.1 | number:'3.2-4'}}</h3>
<h3>{{3.1 | number:'3.3-4'}}</h3>
<h3>{{3.1 | number:'3.4-4'}}</h3>-->
<!--<h3>--------Currency pipes</h3>
    <h2>Currency Pipe Example</h2>
	    <p>A in USD: {{8.99 | currency:'USD':true}}</p>
    	<p>B in INR: {{6.89 | currency:'INR':false:'4.2-2'}}</p>
        	    <p>A in USD: {{8.99 | currency:'USD':false}}</p>
    	<p>B in INR: {{6.89 | currency:'INR':true:'4.2-2'}}</p>
<h3>--------Date pipes</h3>        
	    <h2>Pipe Example</h2>
	    <h4>1. Today is {{today}}</h4>
	    <h4>2. Today is {{today | date}}</h4>
	    <h4>3. Today is {{today | date:"dd/MM/yyyy"}}</h4>
<h3>--------User Defined :: REVERSE pipes</h3>        
	    <h2> {{ name | reverseString }} </h2>

<h3>--------Pipes with parameter :: User Defined :: PHONE FORMAT pipes</h3>       
	    <h2> {{ name | formatMobileNumber:'Hello' }} </h2>	
-->
