<div class="container">
  <h1>User Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" >
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required name="name" [(ngModel)]="model.name" #nameRef=ngModel>
<!--<br>TODO: remove this: {{nameRef.className}}-->

        <div [hidden]="nameRef.valid || nameRef.pristine"
            class="alert alert-danger">
            Name is required
        </div>
</div>
 
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email">
      </div>
<div ngModelGroup="address">
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" required name="city" [(ngModel)]="model.city">
      </div>
 
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="model.state">
      </div>

     <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" required name="zip" [(ngModel)]="model.zip">
      </div>
 
</div>
 
 <!--     <button type="submit" class="btn btn-success">Submit</button>-->
   <button type="submit" class="btn btn-primary">Submit</button>
 
    </form>
</div>