<div class="container">
  <h1>User Form</h1>
    <form #userForm1="ngForm" (ngSubmit)="onSubmit(userForm1.value)" >
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" 
        required name="name" [(ngModel)]="name" #nameRef=ngModel
         minlength="4" maxlength="24"  forbiddenName="elizabeth"
        >
<!--<br>TODO: remove this: {{nameRef.className}}-->

    <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)"
        class="alert alert-danger">
          <div [hidden]="!nameRef.errors.required">
            Name is required
          </div>
          <div [hidden]="!nameRef.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div [hidden]="!nameRef.errors.maxlength">
            Name cannot be more than 24 characters long.
          </div>
          <div [hidden]="!nameRef.errors.maxlength">
            Name cannot be more elizabeth.
          </div>

        </div>

</div>
 
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
      </div>
<div ngModelGroup="address">
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="city">
      </div>
 
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="state">
      </div>

     <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" 
        [(ngModel)]="zip" #zipRef="ngModel"
        pattern="^[E][0-9]{4}$" >

         <div *ngIf="zipRef.errors && (zipRef.dirty || zipRef.touched)"
        class="alert alert-danger">
            <div [hidden]="!zipRef.errors.pattern">
              Please enter the postal code as 'E' followed by 4 digits eg:-E1868
          </div>
        </div>
      </div>
 
</div>
 
 <!--     <button type="submit" class="btn btn-success">Submit</button>-->
   <button type="submit" class="btn btn-primary"  [disabled]="!userForm1.form.valid">Submit</button>
 
    </form>
</div>