<div class="container">
  <h1>User Form</h1>
    <form [formGroup]="userForm2"  (ngSubmit)="onSubmit()" >
      
      <div class="form-group">
        <label >Name</label>
        <input type="text" 
        class="form-control"
        formControlName="nameModel"
        >
        <div *ngIf="userForm2.controls['nameModel'].hasError('required')" class="alert alert-danger">
          Name Manadatory
        </div>
        <div *ngIf="userForm2.controls['nameModel'].hasError('minlength')" class="alert alert-danger">
          Enter atleast 5 Character
        </div>
    </div>
 
      <div class="form-group">
        <label>Email</label>
        <input type="text" 
        class="form-control" 
        id="emailModel" 
        formControlName="emailModel">

         <div *ngIf="userForm2.controls['emailModel'].hasError('emailModel')" class="alert alert-danger">
         ENter Valid email id
        </div>

      </div>


<div formGroupName="addressModel">
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" id="cityModel" formControlName="cityModel">
      </div>
 
      <div class="form-group">
        <label >State</label>
        <input type="text" class="form-control" id="stateModel" formControlName="stateModel">
      </div>

     <div class="form-group">
        <label>Zip</label>
        <input type="text" class="form-control" id="zipModel" formControlName="zipModel">
         <div *ngIf="userForm2.controls['addressModel'].controls['zipModel'].hasError('pattern')" class="alert alert-danger">
                  Please enter the postal code as 'P' followed by 4 digits eg:-P8684 
        </div>
       
      </div>
 
</div>
 
 <!--     <button type="submit" class="btn btn-success">Submit</button>-->
   <button type="submit" class="btn btn-primary" >Submit</button>
 
    </form>
</div>