<div class="container">
  <h1>User Form</h1>
    <form [formGroup]="userForm4"  (ngSubmit)="onSubmit()" >
      
      <div class="form-group">
        <label >Name</label>
        <input type="text" 
        class="form-control"
        formControlName="name"
        >
        <div *ngIf="userForm4.controls['name'].hasError('minlength')" class="alert alert-danger">
          Enter atleast 5 Character
        </div>
    </div>
 
      <div class="form-group">
        <label>Email</label>
        <input type="text" 
        class="form-control" 
        id="email" 
        formControlName="email">
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="text" 
        class="form-control" 
        formControlName="mobile">
      </div>


<div formGroupName="address">
    <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
 
      <div class="form-group">
        <label >State</label>
        <input type="text" class="form-control" id="state" formControlName="state">
      </div>

     <div class="form-group">
        <label>Zip</label>
        <input type="text" class="form-control" id="zip" formControlName="zip">
       
      </div>
 
</div>
 
 <!--     <button type="submit" class="btn btn-success">Submit</button>-->
   <button type="submit" class="btn btn-primary" >Submit</button>
 
    </form>
</div>