h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.items .badge
{
display: inline-block;
font-size: small;
color: white;
padding: 0.8cm 0.7cm 0 0.7cm;
background-color: #607D8B;
line-height: 1em;
position: relative;
left: -1px;
top:-4px;
height:1.8cm;
margin-right: .8cm;
border-radius: 4px 0 0 4px;
}
.items li.selected
{
background-color: red;
color: white;
}